/* === Navbar === */
@media(max-width: 600px) {
    .bars {
        right: 30px;
        top: 40px;
    }
}

/* === Home === */
@media(max-width: 800px) {
    .home__title {
        font-size: 28px;
        max-width: 40ch;
    }

    .home__description {
        font-size: 16px;
        max-width: 50ch;
    }
}


@media(max-width: 520px) {
    .home__container {
        padding: 120px 0;
        
    }

    .home__title {
        font-size: 26px;
    }
    
    .home__description--2 {
        font-size: 14px;
        text-align: center;
        letter-spacing: -.01rem;
        max-width: 19.375rem;
        white-space: pre-line;
        line-height: 1.7;
    }

    .home__icon {
        font-size: 28px;
        margin: 30px 0 0 10px;
        
    }
}

/* === About === */
@media(max-width: 600px) {
    .about__title {
        font-size: 22px;
    }

    .about__paragraph {
        font-size: 16px;
        letter-spacing: -.01rem;
    }
}

@media(max-width: 400px) {
    .about__paragraph {
        font-size: 16px;
    }       
}

/* === Services === */
@media(max-width: 1300px) {
    .card__container {
        grid-gap: 2vw;
    }
}

@media(max-width: 1000px) {
    .card__container {
        grid-template-columns: repeat(2, 1fr);  
    }
}

@media(max-width: 800px) {
    .card__container {
        grid-template-columns: repeat(1, 1fr); 
        grid-gap: 6vw;   
    }

    .card {
        width: 90%;
    }
}

@media(max-width: 600px) {
    .services__title {
        font-size: 22px;        
    }
}

/* === Portfolio === */
@media(max-width: 800px) {
    .portfolio__images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        justify-content: center;
        align-items: center;
        grid-gap: 10vw;
    }

    .portfolio__subtitle {
        margin: 0 0 40px 0;
    }

    .site__description {
        margin-bottom: 0;  
    }
}

@media(max-width: 600px) {
    .portfolio__title {
        font-size: 22px;
    }

    .portfolio__subtitle {
        font-size: 18px;
    }

    .site__title {
        font-size: 18px;
    }
}
