/* === Navbar === */
@media(max-width: 600px) {
    .bars {
        right: 30px;
        top: 40px;
    }
}

/* === Home === */
@media(max-width: 600px) {
    .home__title {
        font-size: 26px;
        max-width: 20ch;
    }
    
    .home__description {
        font-size: 14px;
        max-width: 30ch;
    }
}

/* === Portfolio === */
@media(max-width: 800px) {
    .portfolio__images {
        display: grid;
        grid-template-columns: repeat(1, 400px);
        place-items: center;
        justify-content: center;
        align-items: center;
        grid-gap: 10vw;
    }

    .portfolio__column {
        display: flex;
        flex-direction: column;
    }

    .portfolio__img {
        max-width: 350px;
    }
}
